.nav-navbar-nav li {
    display: inline;
}

body, html {
    height: 100%;
}

#home {
    background-image: url("../../assets/images/bgimg.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

#navh {
    font: white;
}

.imag {
    width: 100%;
    height: 60%;
}

#cardblog{
    padding: 2px;
}

#imagblog {
    height: 0%;
}

.cover-container {
  max-width: 42em;
}
