.nav-navbar-nav li {
    display: inline;
}

body, html {
    height: 100%;
}

#home {
    background-image: url("../../assets/images/bgimg.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

#navh {
    font: white;
}

.imag {
    
    width: 100%;
    padding-top: 5px;
    padding-right: 5px;
}

.imag2 {
    height: 21rem;
}


#rec {
    padding-bottom: 85px;
}

.cover-container {
  max-width: 32em;
}

#dep {
    padding-top: 120px;
}

.inln{
    text-decoration: none;
    display: inline;
}

.card {
    border: none;
}
