.navbar {
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;

}

#cpage{
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
}

.cover-heading {
    font-family: 'Bebas Neue', cursive;
}

#hdng{
    font-family: 'Bodoni Moda', serif;
    font-size: xx-large;
}

.navbar ul li {
    padding: 8px;
}



body, html {
    height: 100%;
}

#home {
    background-image: url("../../assets/images/background.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#navh {
    font: white;
}

.imag {
    
    width: 100%;
    padding-top: 5px;
    padding-right: 5px;
}

.imag2 {
    height: 21rem;
}


#rec {
    padding-bottom: 85px;
}

.cover-container {
  max-width: 32em;
}

#dep {
    padding-top: 120px;
}

.inln{
    text-decoration: none;
    display: inline;
}

.card, .btn{
    border: none;
}


